# Get editor completions based on the config schema
"$schema" = 'https://starship.rs/config-schema.json'

format = '''
 [╭──](bold green)$directory$git_branch$git_status $python
 $character'''
right_format = '''
$cmd_duration
'''

continuation_prompt = ' '
palette = "catppuccin_mocha"

[character]
success_symbol = '[╰ ](bold green)'
error_symbol = '[╰ ](bold red)'
vimcmd_symbol = '[╰─](bold lavender)'

[cmd_duration]
min_time = 500
format = '[$duration](bold yellow)'
show_notifications = true
min_time_to_notify = 60000 # notify about the command completion every minute

[directory]
home_symbol = ' '
read_only = ' '
format = '[$read_only](bold red) [$path](bold blue)'

[username]
format = '[$user](bold blue)'
show_always = true

[git_branch]
format = ' [\($symbol$branch\)]($style)'

# +--------------+
# | Color Scheme |
# +--------------+
[palettes.catppuccin_mocha]
rosewater = "#f5e0dc"
flamingo = "#f2cdcd"
pink = "#f5c2e7"
mauve = "#cba6f7"
red = "#f38ba8"
maroon = "#eba0ac"
peach = "#fab387"
yellow = "#f9e2af"
green = "#a6e3a1"
teal = "#94e2d5"
sky = "#89dceb"
sapphire = "#74c7ec"
blue = "#89b4fa"
lavender = "#b4befe"
text = "#cdd6f4"
subtext1 = "#bac2de"
subtext0 = "#a6adc8"
overlay2 = "#9399b2"
overlay1 = "#7f849c"
overlay0 = "#6c7086"
surface2 = "#585b70"
surface1 = "#45475a"
surface0 = "#313244"
base = "#1e1e2e"
mantle = "#181825"
crust = "#11111b"

# +-------------------+
# | Language specific |
# +-------------------+
[python]
# detect off so that it is only activated for virtual virtualenv 
# and not the python files
detect_extensions = []
detect_files = []
format = '[\($symbol$virtualenv\)](bold blue)'
